<div class="container container-sm">
  <app-name-server-header></app-name-server-header>
  <div class="alert alert-info mt-3">
    <div id="review-banner"></div>
    <button class="btn btn-sm btn-primary mt-2" type="button" (click)="showReviewBanner()">
      Preview review banner
    </button>
  </div>
  <div class="row mt-4">
    <div class="card">
      <div class="card-body">
        <app-manage-name-server></app-manage-name-server>
        <app-name-server-input-commons></app-name-server-input-commons>
      </div>
    </div>
  </div>
</div>
